.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 6px;
    padding-bottom: 84px;
    @media screen and (max-width: 768px) {
        gap: 48px;
        padding-top: 0px;
        padding-bottom: 77px; 
    }
    @media screen and (max-width: 320px) {
        gap: 3px;
        padding-top: 0px;
        padding-bottom: 50px; 
    }
}

.container {
    max-width: 1024px;
    margin: auto;
    scroll-behavior: smooth;
    padding-left: 26px;
    padding-right: 26px;
    @media screen and (max-width: 768px) {
        padding-left: 22px;
        padding-right: 22px;
      }
      @media screen and (max-width: 320px) {
        padding-left: 5px;
        padding-right: 5px;
      }
}

.heading__line {
    display: inline-block;
    width: 80%;
    text-align: center;
    background-image: linear-gradient(to top, $color-primary 49%, $color-secondary 49%, $color-secondary 51%, $color-primary 51%);
    @media screen and (max-width: 768px) {
        width: 67%;
    }
}

.h2_color-back {
    background-color: $color-primary;
    padding: 30px 38.95px 30px 15.98px;
    @media screen and (max-width: 768px) {
        padding: 19px 24px 19px 21px;
    }
    @media screen and (max-width: 320px) {
        padding: 2px 15px 5px 10px;
    }
}

.portfolio__buttons {
    display: flex;
    gap: 3px;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    @media screen and (max-width: 768px) {
        padding-bottom: 0px;
        margin-bottom: -3px;
    }
    @media screen and (max-width: 320px) {
        gap: 2px;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
}

.buttonbox {
    display: flex;
    gap: 3px;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 320px) {
        gap: 2px;
    }
}

.portfolio__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 768px) {
        .additional{
            display: none;  
        }
    }
    @media screen and (max-width: 320px) {
        .additional, .primary {
            display: none;  
        }
    }
}

.portfolio{
    background-color: $color-primary;
}