$color-primary: #2A1811;
$color-secondary: #DAB8A3;
$color-light: #E5E5DA;
$color-first: #AD8B76;
$color-second: #FEDCC7;
$color-second-dark: #66544D;
$color-shadow: rgba(0, 0, 0, 0.25);
$color-bg:  rgba(0, 0, 0, 0.5);

$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

